a{
    display: inline-block;
    padding: 3px 7px;
    background-color: #00CFFF;
    color : #08003F;
    text-decoration: none;
    border-radius: 5px;
    
}

a:hover{
    background-color: aqua;
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
}

.mr-5{
    margin-right: 5px;
}

.content{
    width: 710px;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav__item{
    margin: 0 15px;
}

.active{
    background-color: #08003F;
    color : #FFFFFF;
}

